.shop-container {
  display: grid;
  grid-template-columns: 5fr 1fr;
}

.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  padding-left: 18%;
  padding-right: 18%;
  margin-top: 120px;
}
.cart-container {
  background-color: rgba(255, 153, 0, 0.3);
}

@media screen and (max-width: 1100px) {
  .product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 45px;
    padding-left: 14%;
    padding-right: 14%;
    margin-top: 120px;
  }
}
