.product {
  width: 300px;
  height: 508px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product img {
  width: 286px;
  height: 286px;
  margin: 7px;
  border-radius: 8px;
}
.product-info {
  margin-left: 15px;
  margin-right: 15px;
}
.product-name {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 21px;
  margin-top: 7px;
  margin-bottom: 10px;
}
.product-price {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0.0015em;
  margin-top: 10px;
}
.product-seller {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 25px;
  margin-bottom: 7px;
}
.product-ratings {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  margin-top: 7px;
}

.btn-cart {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  background: #ffe0b3;
  border-top: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  height: 48px;
  color: #0e161a;
  font-size: 15px;
  font-weight: 500;
}
.btn-cart:hover {
  background-color: orange;
  transition: 700ms;
}
