.header-nav {
  height: 80px;
  background-color: #1c2b35;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 140px;
  padding-right: 140px;
}
.header-nav img {
  width: 140px;
}
.nav-item a {
  text-decoration: none;
  color: #ffffff;
  margin-left: 36px;
  margin-right: 16px;
}
.nav-item a:hover {
  color: orange;
}
